<header>
  <nav class="green-planty lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li>
          <%= link_to 'Store', products_path %>
        </li>
        <% if user_signed_in? %>
        <li>
          <a class="dropdown-toggle formu-in btn btn-default btn-sm primary azul" data-toggle="dropdown" href="#" id="show-login">
              <%= truncate current_user.name, length: 9 %>
            <span class="caret"></span>
          </a>
        </li>
        <% else %>
        <li>
          <%= link_to 'Accedi', new_user_session_path %>
        </li>
        <% end %>         
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li>
          <%= link_to 'Store', products_path %>
        </li>
        <% if user_signed_in? %>
        <li>
          <a class="dropdown-toggle formu-in btn btn-default btn-sm primary azul" data-toggle="dropdown" href="#" id="show-login">
              <%= truncate current_user.name, length: 9 %>
            <span class="caret"></span>
          </a>
        </li>
        <% else %>
        <li>
          <%= link_to 'Accedi', new_user_session_path %>
        </li>
        <% end %>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</header>